body{
    margin: 0;
}


.header__container{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}


.navbar ul li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.navbar ul{
    display: flex; 
    justify-content: space-between;
}

li:hover{
    opacity: .5;
    cursor: pointer;
}

@media (max-width:600px) {

.bars{
    background-color: white;
    color: white;
    height: 5px;
    width: 30px;
    margin-top: 2px;
    border-radius: 5px;
}

.responsive{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__container{
    display: block;
}

.navbar{
    display: none;
    justify-content: space-around;
}

.navbar ul{
    display: block;
}
}